body{
    background-color: antiquewhite;
}
header{
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
h1{
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
}

table{
    table-layout: fixed;
    width: 1200px;
    text-align: center;
}
.tfocus:focus{
    border: 1px solid #29B0D9;
    background: #ffe;
}
.r{
    margin: 5px;
}
.r > input:hover{
    font-weight: bold;
}
#img{
    padding: 30px;
    text-align: center;
}
#button{
    color: white;
    background-color: cornflowerblue;
    margin: 10px;
    font-size: medium;
}
#out{
    margin-right: 315px;
    width: 1200px;
    text-align: center;
}

#out  td.scroll{
    width: 100px;
    overflow-x: scroll;
}
.coordinates{
    text-align: center;
    margin-bottom: 10px;
}

